/build-dir/
/build/
/.ovenbird-build/
/_build/
/_flatpak-build/
/build-check/
/rust-build*/
/rust-flatpak-*/
/rust-meson-tests-*/
/.flatpak-builder/
/.flatpak-build/
/.flatpak/
/.tooling/
/target/
/settings
/jsconfig.json
/docs/
/cargo-cache/registry/src/
*.swp
*~
