[Desktop Entry]
Name=Ovenbird
Comment=LaTeX editor and local bibliography manager
Comment[pt_BR]=Editor LaTeX e gerenciador local de referências
Comment[es]=Editor de LaTeX y gestor de bibliografía local
Exec=ovenbird %f
Icon=org.ovenbird.Ovenbird
Terminal=false
Type=Application
Categories=Office;Publishing;
MimeType=text/x-tex;
StartupNotify=true
Keywords=LaTeX;TeX;Bibliography;Zotero;Writing;
Keywords[pt_BR]=LaTeX;TeX;Bibliografia;Zotero;Escrita;
Keywords[es]=LaTeX;TeX;Bibliografía;Zotero;Escritura;
